 * {
   margin: 0;
   padding: 0;
 }

 body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: rgba(114, 243, 200,0.6);
 }

 .completion {
   display: flex;
   gap: 8px;
   justify-content: center;
   align-items: center;
 }

 .completion button {
   cursor: pointer;
 }

 .completion {
   display: none;
 }

 .header {
   display: flex;
   flex-direction: column;
   border-style: dashed;
   gap: 12px;
   width: 100vw;

   text-align: center;
   background-color: lightcoral;
 }
 .header p{
  font-size: larger;
 }

 #game div {
   border: 1px solid black;
   width: 15%;
   height: 200px;
   margin: 10px;
   background-color: lightpink;
   display: inline-block;

   cursor: pointer;

   transform-style: preserve-3d;
   transition: 250ms ease-out;
 }

 #game div.on {
   background-color: lightpink;

   transform: rotateY(180deg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   cursor: unset;
 }

 #game {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   width: 70vw;

 }

 @media screen and (max-width:430px) {
   body {
     justify-content: flex-start;
     height: 100vh;
   }

   #game div {
     width: 23%;
   }

   #game {
     width: 100vw;
   }
 }